@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}


#main_title {
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    background-color: black;
    padding: 20px;

}

.box1 h2 {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.box1 button {
    float: right;
}

.container {
    margin-top: 30px;
}

h6 {
    color: red;
    text-align: center;
}
